@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cinema';
    src: url('/fonts/Cinema.otf') format('opentype');
}

.text-dreamy {
    text-shadow: 0 0 2px #ffffff, /* Small white glow */
                 0 0 4px #ffffff, /* Larger white glow */
                 0 0 8px #ffffff, /* Even larger white glow */
                 0 0 20px #ffffff; /* Even larger white glow */
}

.text-dark {
    font-family: sans;
    color: black;

}

.text-outline-black {
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.text-shadow {
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.text-3d-bold {
  color: black;
  text-shadow: 
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red,
    -2px -2px 0 red,
    2px -2px 0 red,
    -2px 2px 0 red,
    2px 2px 0 red;
}

