@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Amsterdam';
    src: url('/fonts/Amsterdam.otf') format('opentype');
}

@font-face {
    font-family: 'Amsterdam-Display';
    src: url('/fonts/Amsterdam-Display.otf') format('opentype');
}

@font-face {
    font-family: 'Anthem';
    src: url('/fonts/Anthem.otf') format('opentype');
}

@font-face {
    font-family: 'Cinema';
    src: url('/fonts/Cinema.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont';
    src: url('/fonts/COOLFONT.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Cloud';
    src: url('/fonts/COOLFONT-Cloud.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Distorted';
    src: url('/fonts/COOLFONT-Distorted.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Fire';
    src: url('/fonts/COOLFONT-Fire.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Fluid';
    src: url('/fonts/COOLFONT-Fluid.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Goop';
    src: url('/fonts/COOLFONT-Goop.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Pixel';
    src: url('/fonts/COOLFONT-Pixel.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Pix-Outlined';
    src: url('/fonts/COOLFONT-Pix-Outlined.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Rough-Outlined';
    src: url('/fonts/COOLFONT-Rough-Outlined.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Simplified';
    src: url('/fonts/COOLFONT-Simplified.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Sketch';
    src: url('/fonts/COOLFONT-Sketch.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Structured';
    src: url('/fonts/COOLFONT-Structured.otf') format('opentype');
}

@font-face {
    font-family: 'Coolfont-Trippy';
    src: url('/fonts/COOLFONT-Trippy.otf') format('opentype');
}

@font-face {
    font-family: 'Sunny';
    src: url('/fonts/Sunny.otf') format('opentype');
}

.text-dreamy {
    text-shadow: 0 0 2px #ffffff, /* Small white glow */
                 0 0 4px #ffffff, /* Larger white glow */
                 0 0 8px #ffffff, /* Even larger white glow */
                 0 0 20px #ffffff; /* Even larger white glow */
}

.text-dark {
    font-family: sans;
    color: black;

}

.text-outline-black {
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.text-shadow {
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.text-3d-bold {
  color: black;
  text-shadow: 
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red,
    -2px -2px 0 red,
    2px -2px 0 red,
    -2px 2px 0 red,
    2px 2px 0 red;
}

